{% extends "base.html" %}


{% block content %}

{% include "nave.html" %} 
<!-- Section Style 1 Start -->	  
      <section class="style-1 section-padding mt-5 mb-4">
         <div class="container">
            <div class="row">
               <div class="col-md-2">
               </div>
                <div class="col-md-9">

                  <div class="section-title"> 
                    <h1 class="text-center mb-4">What we Do</h1>
                    <p class="text-center w-sm-75 mx-auto md-5">Chakra Campany Ltd is the intermediary between the investor and everyone else, the face of poster so to speak, which removes the need for Trustees/Directors to be available for and involved in the routine issue that arise from managing the estate.</p>
                  </div>
               </div>
             <div class="col-md-2">
             </div>
            </div>
            <div class="row mt-5 mb-4">
               <div class="col-md-4" >
                  <div class="single-service">
                     <i class="fa fa-globe"></i>
                     <h3>Our mission</h3>
                     <p>Chakra Company Ltd provide high quality apartment homes and excellent living experience to families of low maderate income.</p>
                     <a href="{% url 'posts:more' %}" class="btn btn-secondary">Read More</a>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single-service">
                     <i class="fa fa-code"></i>
                     <h3>Our philosophy</h3>
                     <p>Enthusiastically managing communities for our residents means more than providing a place to live our goal is create a sense of ownership and pride in the communtiy.</p>
                     <a href="{% url 'posts:more' %}" class="btn btn-secondary">Read More</a>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single-service">
                     <i class="fa fa-crop"></i>
                     <h3>Estate manager</h3>
                     <p>Chakra Manager Ltd only appoints managers of the the highest caliber. potential estate managers are considered not only for their high level of skill.</p>
                     <a href="{% url 'posts:more' %}" class="btn btn-secondary">Read More</a>
                  </div>
               </div>
            </div>          
            </div>
         </div>
      </section>
	  <!-- Section Style 1 End -->
<hr>
 <section class="esate mt-5 mb-4">
 	<div class="container">
<div class="row">
    <div class="col-md-2">
      </div>
    <div class="col-md-9">
      <div class="section-title"> 
	       <h3 class="text-center mb-4">Chakra Esate Management's key areas of responsibility incorporate the following:</h3>
        </div>
      </div>
    <div class="col-md-2">
  </div>
</div>
	<div class="row">
  <div class="col-md-4">
  <img src="../static/realestate.png" class="d-block w-100" alt="..." role="listbox" height="450">
  </div>

  <div class="col-md-8">
  		<ul class="list-unstyled fa-ul mb-lg-0 mb-5">
  			<li class="d-flex justify-content-center pl-4">
  				<span class="fa-li pt-1">
						<i class="fas fa-share fa-lg text-success"></i>	
  				</span>
  				<div>
  				<p>Addressing complaints or requests from residents,owners and sourcing of all other service providers or contractors.</p>
  				</div>		
  			</li>

  			<li class="d-flex justify-content-center pl-4">
  				<span class="fa-li pt-1">
						<i class="fas fa-share fa-lg text-success"></i>	
  				</span>
  				<div>
  				<p>Enforcing the conduct rules on behalf of investor, this includes circulating and maintaning all administration relating to this portfolio.</p>
  				</div>		
  			</li>
  		<li class="d-flex justify-content-center pl-4">
  				<span class="fa-li pt-1">
						<i class="fas fa-share fa-lg text-success"></i>	
  				</span>
  				<div>
  				<p>Communicating decisions from the investor to residents, owners, contractors and solving problems relating to general maintenance and liaising with the service provider</p>
  				</div>		
  			</li>
  			<li class="d-flex justify-content-center pl-4">
  				<span class="fa-li pt-1">
						<i class="fas fa-share fa-lg text-success"></i>	
  				</span>
  				<div>
  				<p>Overseeing all other service providers and problem solving related to these portfolios, including the gardens and security</p>
  				</div>		
  			</li>
  				<li class="d-flex justify-content-center pl-4">
  				<span class="fa-li pt-1">
						<i class="fas fa-share fa-lg text-success"></i>	
  				</span>
  				<div>
  				<p>Management of all access control and estate-movement documentation within the estate thereby assisting the security service provider.</p>
  				</div>		
  			</li>
  				<li class="d-flex justify-content-center pl-4">
  				<span class="fa-li pt-1">
						<i class="fas fa-share fa-lg text-success"></i>	
  				</span>
  				<div>
  				<p>Communication with residents regarding operational municipal information i.e interruptions.</p>
  				</div>		
  			</li>
  				<li class="d-flex justify-content-center pl-4">
  				<span class="fa-li pt-1">
						<i class="fas fa-share fa-lg text-success"></i>	
  				</span>
  				<div>
  				<p>Liaising with attorneys and the managing agent to assits with  registration of the conduct rules of the estate.</p>
  				</div>		
  			</li>
  		</ul>
  	</div>
  </div>
</div>
</div>
 </div>
 </section>



{% endblock content %}