{% extends "base.html" %}

{% block content %}
          
<style>
  

.slider {
  margin: 0 auto;
  max-width: 100%;
}

.slide_viewer {
  height: 450px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 500px;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
 background: url('../static/dev.jpg')
}

.slide:nth-of-type(2) {
 background: url('../static/gt.jpg')
}

.slide:nth-of-type(3) {
 background: url('../static/r4.jpg')
}

.slide:nth-of-type(4) {
 background: url('../static/e.jpg')
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  /*height: 34  0px;*/
  margin: 0 auto;
  width: 100%;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

./*previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}*/

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
  .slide_viewer {
    height: 400px;
  }
}
</style>
<div class="slider">
  <div class="slide_viewer">
    <div class="slide_group">
      <div class="slide">
      </div>
      <div class="slide">
      </div>
      <div class="slide">
      </div>
      <div class="slide">
      </div>
    </div>
  </div>
</div>
<!-- End // .slider -->

<div class="slide_buttons">
</div>


</div>
<!-- End // .directional_nav -->


<section class="search-sec" style="
    padding: 1em;
    background-color: #1c2a48;
    color: #ffffff;
    font-size: 1.2em;
    ">
<div class="container">
  <div class="row">
      <div class="col-sm-4">
      <h2 class="card-title" style="color: #00C851;">Dealers In</h2>
    <i class="far fa-check-circle" style=" color: #00C851; 
    font-size: 1.2em;"></i> Estate Management<br/>
     <i class="far fa-check-circle" style=" color: #00C851; 
    font-size: 1.2em;"></i> Land valuation<br/>
    <i class="far fa-check-circle" style=" color: #00C851; 
    font-size: 1.2em;"></i> Sale of House & Land<br/>
      <i class="far fa-check-circle" style=" color: #00C851; 
    font-size: 1.2em;"></i> Apartments<br/>
    <i class="far fa-check-circle" style=" color: #00C851; 
    font-size: 1.2em;"></i> Office Space & Business Shops
</div>
    <div class="col-sm-6">
     <div class="animated zoomIn" class="card-title" style=" font-size: 1.2em;" class="animated zoomIn">Think of Buying, Selling or Renting a property</b><br/><br/></div>
        <form method="GET" action="" novalidate="novalidate">

        <input type="text" name="q" class="form-control form-control-lg form-control-borderless" placeholder="Search House Location, Price, Size, Sell, Rent" value="{{ request.GET.q }}" />
        </div>
        <div class="col-sm-2-auto">
        <br/><br/>
        <input type="submit" value="search" class="btn btn-success"/>
        </div>
        </form>
        </div>
    </div>
  </div>
</section>

<!--   <div class="row">
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
  </div> -->
<div>

<div class="container-fluid">

<div class="row row-cols-1 row-cols-md-3">
  {% for obj in object_list %}

  <div class="col-sm-6 col-md-3">

    <!-- Card -->
    <div class="card">

      <!--Card image-->
      <div class="view overlay">
      {% if obj.image %}

        <img class="card-img-top" src="{{ obj.image.url }}"
          alt="Card image cap" height="200">
            {% endif %}

        <a href='{{ obj.get_obsolute_url }}'>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <div class="card-body">
    <div class="design">

      <a href='{{ obj.get_obsolute_url }}' style="text-decoration: none;"><h4 class="card-title" style="color: #00C851;
    font-size: 1.3em;
    font-weight: 600;">{{ obj.title }}</h4></a>
            
        <h1 style="font-size: 1.8em; 
    color:#4B515D;">Ksh {{ obj.price }}</h1>

        <h5 class="card-title" style="font-size: 1.2em; 
    color: #4B515D;"><b><i class="fas fa-map-marker-alt" style="color: #ff4444; 
   font-size: 1.4em;"></i> {{ obj.location }}</b></h5>
        <hr>
    <div class="row">
        <div class="col">
        <ul class="list-group list-group-flush">
        <i class="fas fa-bed" style=" color: #00C851; 
    font-size: 1.5em;"></i></a> 
        <b style="color: #4B515D;
    font-size: 1.1em;">{{ obj.beds }} Bedrooms</b>
        </ul>
        </div>

    <div class="col">
        <ul class="list-group list-group-flush">
        <i class="fas fa-bath" style=" color: #00C851; 
    font-size: 1.5em;"></i></i>
        <b class="card-title">{{ obj.bath }} Bathrooms</b>
        </ul>
        </div>

        </div>
        <hr>

    <a href='{{ obj.get_obsolute_url }}' class="badge badge-danger" style="font-size: 1.2em;">For {{ obj.category }}</a>
</div>
</div>

</div>
  </div>
    {% endfor %}

</div>

</div>
<section class="padd z-depth-1" style="background-color: #EBEBEB; padding: 1em;">
<div class="container">
  <div class="row">
   <div class="col">
  <h1 class="card-title" style="color: #4B515D
; font-size: 2em;"> Find More Properties</h1>
  </div>

<div class="col-12 col-md-auto">
  <div class="pagination" style="font-size: 1.5em; font-weight: 500; color: #4B515D;">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }} {% if request.GET.q %} &q={{ request.GET.q }} {% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }} {% if request.GET.q %} &q={{ request.GET.q }} {% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>

<div class="col col-lg-2">
  <a href='{% url "posts:all" %}' class="btn btn-danger wrn-btn">More Properties</a>
</div>

</div>
</div>
</section>


<section style="padding: 2em;">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
         <p style="font-size: 30px; color: #3b465e; font-weight: 300;
">Chakra company Limited is an owner managed business which combines the collective skill-set and the Management team.</p>
<br>
<a href="{% url 'posts:more' %}" class="btn btn-success">Read More--> chakra property Ltd</a>

    </div>

    <div class="col-md-6">
      <img src="../static/hvy.png" class="d-block w-100" alt="..." role="listbox">

    </div>

  </div>
  </div>
</section>

<script>
  $('.slider').each(function() {
  var $this = $(this);
  var $group = $this.find('.slide_group');
  var $slides = $this.find('.slide');
  var bulletArray = [];
  var currentIndex = 0;
  var timeout;
  
  function move(newIndex) {
    var animateLeft, slideLeft;
    
    advance();
    
    if ($group.is(':animated') || currentIndex === newIndex) {
      return;
    }
    
    bulletArray[currentIndex].removeClass('active');
    bulletArray[newIndex].addClass('active');
    
    if (newIndex > currentIndex) {
      slideLeft = '100%';
      animateLeft = '-100%';
    } else {
      slideLeft = '-100%';
      animateLeft = '100%';
    }
    
    $slides.eq(newIndex).css({
      display: 'block',
      left: slideLeft
    });
    $group.animate({
      left: animateLeft
    }, function() {
      $slides.eq(currentIndex).css({
        display: 'none'
      });
      $slides.eq(newIndex).css({
        left: 0
      });
      $group.css({
        left: 0
      });
      currentIndex = newIndex;
    });
  }
  
  function advance() {
    clearTimeout(timeout);
    timeout = setTimeout(function() {
      if (currentIndex < ($slides.length - 1)) {
        move(currentIndex + 1);
      } else {
        move(0);
      }
    }, 4000);
  }
  
  $('.next_btn').on('click', function() {
    if (currentIndex < ($slides.length - 1)) {
      move(currentIndex + 1);
    } else {
      move(0);
    }
  });
  
  $('.previous_btn').on('click', function() {
    if (currentIndex !== 0) {
      move(currentIndex - 1);
    } else {
      move(3);
    }
  });
  
  $.each($slides, function(index) {
    var $button = $('<a class="slide_btn">•</a>');
    
    if (index === currentIndex) {
      $button.addClass('active');
    }
    $button.on('click', function() {
      move(index);
    }).appendTo('.slide_buttons');
    bulletArray.push($button);
  });
  
  advance();
});
</script>

{% endblock content %}  