{% extends "base.html" %}

{% block content %}
          
<!-- Start cssSlider.com -->
  <div class="csslider1">
    <input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide' >
    <input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide' >
    <input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide' >
    <input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked>
    <input name="cs_anchor1" id='cs_pause1' type="radio" class='cs_anchor' >
    <ul>
      <div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
        <img src="http://cssslider.com/sliders/pen/images/buns.jpg" style="width: 100%;">
      </div>
      <li class='num0 img'>
         <img src='../static/bh.jpg' alt='' title='' />  
      </li>
      <li class='num1 img'>
        <img src='../static/be.jpg' alt='' title='' />  
      </li>
      <li class='num2 img'>
         <img src='../static/bi.jpg' alt='' title='' /> 
      </li>
    
    </ul>
    <div class='cs_description'>
      <label class='num0'>
        <span class="cs_title"><span class="cs_wrapper"> Apartments</span></span>
      </label>
      <label class='num1'>
        <span class="cs_title"><span class="cs_wrapper">Office Space & Business Shops</span></span>
      </label>
      <label class='num2'>
        <span class="cs_title"><span class="cs_wrapper">Estate Management</span></span>
      </label>
    </div>
    
    <div class='cs_arrowprev'>
      <label class='num0' for='cs_slide1_0'></label>
      <label class='num1' for='cs_slide1_1'></label>
      <label class='num2' for='cs_slide1_2'></label>
    </div>
    <div class='cs_arrownext'>
      <label class='num0' for='cs_slide1_0'></label>
      <label class='num1' for='cs_slide1_1'></label>
      <label class='num2' for='cs_slide1_2'></label>
    </div>
    </div>
    <!-- End cssSlider.com -->  
   

<section class="search-sec" style="
    padding: 1em;
    background-color: #1c2a48;
    color: #ffffff;
    font-size: 1.2em;
    ">
<div class="container">
  <div class="row">
      <div class="col-sm-4">
      <h2 class="card-title" style="color: #00C851;">Dealers In</h2>
    <i class="far fa-check-circle" style=" color: #00C851; 
    font-size: 1.2em;"></i> Estate Management<br/>
     <i class="far fa-check-circle" style=" color: #00C851; 
    font-size: 1.2em;"></i> Land valuation<br/>
    <i class="far fa-check-circle" style=" color: #00C851; 
    font-size: 1.2em;"></i> Sale of House & Land<br/>
      <i class="far fa-check-circle" style=" color: #00C851; 
    font-size: 1.2em;"></i> Apartments<br/>
    <i class="far fa-check-circle" style=" color: #00C851; 
    font-size: 1.2em;"></i> Office Space & Business Shops
</div>
    <div class="col-sm-6">
     <div class="animated zoomIn" class="card-title" style=" font-size: 1.2em;" class="animated zoomIn">Think of Buying, Selling or Renting a property</b><br/><br/></div>
        <form method="GET" action="" novalidate="novalidate">

        <input type="text" name="q" class="form-control form-control-lg form-control-borderless" placeholder="Search House Location, Price, Size, Sell, Rent" value="{{ request.GET.q }}" />
        </div>
        <div class="col-sm-2-auto">
        <br/><br/>
        <input type="submit" value="search" class="btn btn-success"/>
        </div>
        </form>
        </div>
    </div>
  </div>
</section>

<!--   <div class="row">
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
  </div> -->
<div>

<div class="container-fluid">

<div class="row row-cols-1 row-cols-md-3">
  {% for obj in object_list %}

  <div class="col-sm-6 col-md-3">

    <!-- Card -->
    <div class="card">

      <!--Card image-->
      <div class="view overlay">
      {% if obj.image %}

        <img class="card-img-top" src="{{ obj.image.url }}"
          alt="Card image cap" height="200">
            {% endif %}

        <a href='{{ obj.get_obsolute_url }}'>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <div class="card-body">
    <div class="design">

      <a href='{{ obj.get_obsolute_url }}' style="text-decoration: none;"><h4 class="card-title" style="color: #00C851;
    font-size: 1.3em;
    font-weight: 600;">{{ obj.title }}</h4></a>
            
        <h1 style="font-size: 1.8em; 
    color:#4B515D;">Ksh {{ obj.price }}</h1>

        <h5 class="card-title" style="font-size: 1.2em; 
    color: #4B515D;"><b><i class="fas fa-map-marker-alt" style="color: #ff4444; 
   font-size: 1.4em;"></i> {{ obj.location }}</b></h5>
        <hr>
    <div class="row">
        <div class="col">
        <ul class="list-group list-group-flush">
        <i class="fas fa-bed" style=" color: #00C851; 
    font-size: 1.5em;"></i></a> 
        <b style="color: #4B515D;
    font-size: 1.1em;">{{ obj.beds }} Bedrooms</b>
        </ul>
        </div>

    <div class="col">
        <ul class="list-group list-group-flush">
        <i class="fas fa-bath" style=" color: #00C851; 
    font-size: 1.5em;"></i></i>
        <b class="card-title">{{ obj.bath }} Bathrooms</b>
        </ul>
        </div>

        </div>
        <hr>

    <a href='{{ obj.get_obsolute_url }}' class="badge badge-danger" style="font-size: 1.2em;">For {{ obj.category }}</a>
</div>
</div>

</div>
  </div>
    {% endfor %}

</div>

</div>
<section class="padd z-depth-1" style="background-color: #EBEBEB; padding: 1em;">
<div class="container">
  <div class="row">
   <div class="col">
  <h1 class="card-title" style="color: #4B515D
; font-size: 2em;"> Find More Properties</h1>
  </div>

<div class="col-12 col-md-auto">
  <div class="pagination" style="font-size: 1.5em; font-weight: 500; color: #4B515D;">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }} {% if request.GET.q %} &q={{ request.GET.q }} {% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }} {% if request.GET.q %} &q={{ request.GET.q }} {% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>

<div class="col col-lg-2">
  <a href='{% url "posts:all" %}' class="btn btn-danger wrn-btn">More Properties</a>
</div>

</div>
</div>
</section>


<section style="padding: 2em;">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
         <p style="font-size: 30px; color: #3b465e; font-weight: 300;
">Chakra company Limited is an owner managed business which combines the collective skill-set and the Management team.</p>
<br>
<a href="{% url 'posts:more' %}" class="btn btn-success">Read More--> chakra property Ltd</a>

    </div>

    <div class="col-md-6">
      <img src="../static/hvy.png" class="d-block w-100" alt="..." role="listbox">

    </div>

  </div>
  </div>
</section>

{% endblock content %}  