{% extends "base.html" %}


{% block content %}
{% include "nave.html" %} 

 <section class="esate mt-5" style="padding: 2em;">
 	<div class="container">
<div class="row">
    
    <div class="col-md-8">
      <div class="section-title"> 
	       <h3 class="text-center mb-4" style="font-size: 25px; color: #00C851; font-weight: 600; text-transform: uppercase;">About Chakra Property</h3>
        </div>

        <p class="text-center w-sm-75 mx-auto md-5" style="color: #3b465e; font-weight: 300; font-size: 20px;">Chakra Company limited was founded in 2009.Focus services: Residential estate living, Estate management, Land valuation, sale of house & land
				apartments, office space and business shops,
				We are the fastest  growing market in the property sector, the reasons are multiple and varied: security fears driven by high levels of crime.
				Property management involves the process, system and manpower required to manage the life cycle of all acquired property as defined above including acquisition, control accountability, responsibility, maintenance and disposition </p>
      </div>

  <div class="col-md-4">
    <img src="../static/s.jpg"  alt="1">
  </div>

    </div>
   </div>
  </section>


 <section class="esate" style="background-color: #f9f9f9; padding: 3em;">
 	<div class="container">
<div class="row">
    <div class="col-md-2">
      </div>
    <div class="col-md-9">
      <div class="section-title"> 
	       <h3 class="text-center mb-4" style="font-size: 25px; color: #00C851; font-weight: bold; text-transform: uppercase;">Why Choose Chakra Company Limited</h3>
        </div>

        <p class="text-center w-sm-75 mx-auto md-5" style="color: #3b465e; font-weight: 300; font-size: 20px;">Home and property owners are able to derive the maximum benefit from their investment because their property is managed professionally by a company that has their best insterests at heart, this is one of the primary reasons why people choose to buy into a sectional Title or Home Owner Association development.</p>
      </div>

 <div class="row mt-5">
 <div class="col-md-4">

	<ul class="list-unstyled fa-ul mb-lg-0 mb-5">
  			<li class="d-flex justify-content-center pl-4">
  				<span class="fa-li pt-1">
						<i class="far fa-check-circle text-success" style="font-size: 30px;"></i>	
  				</span>
  				<div>
  				<p style="color: #3b465e;">A comprehensive service for all your needs.</p>
  				</div>		
  			</li>
  				<li class="d-flex justify-content-center pl-4">
  				<span class="fa-li pt-1">
						<i class="far fa-check-circle text-success" style="font-size: 30px;"></i>	
  				</span>
  				<div>
  				<p style="color: #3b465e;">Advanced years experience, And safe enviroment.</p>
  				</div>		
  			</li>
  						<li class="d-flex justify-content-center pl-4">
  				<span class="fa-li pt-1">
						<i class="far fa-check-circle text-success" style="font-size: 30px;"></i>	
  				</span>
  				<div>
  				<p style="color: #3b465e;">Satisfactory management of internal disputes amongst residents.</p>
  				</div>		
  			</li>
  			<li class="d-flex justify-content-center pl-4">
  				<span class="fa-li pt-1">
					<i class="far fa-check-circle text-success" style="font-size: 30px;"></i>	
  				</span>
  				<div>
  				<p style="color: #3b465e;">Clean communal facilities such as swimming pools, clubhouse and sports facilities.</p>
  				</div>		
  			</li>
  		</ul>

  </div>

<div class="col-md-3">
  <img src="../static/dfcvv.png" alt="..." role="listbox">

 </div>


 <div class="col-md-4">
 	<ul class="list-unstyled fa-ul mb-lg-0 mb-5">
  			<li class="d-flex justify-content-center pl-4">
  				<span class="fa-li pt-1">
						<i class="far fa-check-circle text-success" style="font-size: 30px;"></i>	
  				</span>
  				<div>
  				<p style="color: #3b465e;">High levels of communication at all times.</p>
  				</div>		
  			</li>
  				<li class="d-flex justify-content-center pl-4">
  				<span class="fa-li pt-1">
						<i class="far fa-check-circle text-success" style="font-size: 30px;"></i></span>
  				<div>
  				<p style="color: #3b465e;">Very competitively priced service and sinply put, harmonious, hasle free communal living.</p>
  				</div>		
  			</li>
  				<li class="d-flex justify-content-center pl-4">
  				<span class="fa-li pt-1">
						<i class="far fa-check-circle text-success" style="font-size: 30px;"></i>
  				</span>
  				<div>
  				<p style="color: #3b465e;">Well managed estates, And beautifull well maintained garden.</p>
  				</div>		
  			</li>

  		<li class="d-flex justify-content-center pl-4">
  				<span class="fa-li pt-1">
						<i class="far fa-check-circle text-success" style="font-size: 30px;"></i>
  				</span>
  				<div>
  				<p style="color: #3b465e;">Our culture is developed through the people who work with us and the residents we serve.</p>
  				</div>		
  			</li>
  		</ul>

  </div>

  </div>
</div>
</div>
</section>

{% endblock content %}