{% extends "base.html" %}

{% block content %}
{% include "nave.html" %} 

 <section class="mt-5">
 	<div class="container">
		<div class="row">
		<div class="col-md-6">
	<div class="section-title"> 

		<h1 class="text-center mb-4">Our Mission</h1>
     <p class="text-center w-sm-75 mx-auto md-5">Chakra Company Ltd provide high quality apartment homes and excellent living excellent living experience to families of low maderate income.</p><p>In addition, Chakra Company Ltd will work to privide all of its team members with employment opportunities that highlite their strengths and abilities, and allow for professional advancement and opersanal achiveements. It is our belief that proving these types of living and working enviroment will enable the management teams.</p>

		</div>
</div>
<div class="col-md-6">
<div class="section-title"> 
<h1 class="text-center mb-4">Our Philosophy</h1>
     <p class="text-center w-sm-75 mx-auto md-5">Enthusiastically managing communities for our residents means more than providing a place to live our goal is create a sense of ownership and pride in the communtiy.</p>
     <p>The Chakra Limited team achieves this by proving Resident Services that enchance the lifestyles of our resident.
     <p>Programs and service are available that may soan from job training and life skills workshops to residents parties and community social.</p>


	<!-- 		  <img src="../static/r.jpg" class="d-block w-100" alt="..." role="listbox"> -->
</p></div>
		</div>
	</div>
</div>
</section>

<hr>

 <section class="esate mt-5 mb-4">
<div class="container">
<div class="row">
    <div class="col-md-2">
      </div>
    <div class="col-md-9">
      <div class="section-title"> 
	       <h3 class="text-center mb-4">COMPANY RULE</h3>
	       <p>The work `Chakra` is the technical term for excellent worker who never make any mistake. The sysmbolizes reliablity, consistency and dependability, the core philosophy of Chakra Estate Management transparency with integrity</p>
        </div>
      </div>
    <div class="col-md-2">
  </div>
</div>
<div class="row mt-5">
	<div class="col-md-4">
		<p>Chakra company Limited is an owner managed business which combines the collective skill-set of Peter Osano and the Management team. This level of service is essential for the management of the day operation of residential esate, proving place for those who reside within  estate and investors.Peter Osano is the managing director of Chakra Company Limited. He is we;; qualified to operate in this field through extensive first hand management experince for large residential estate for many years</p>
	</div>

	<div class="col-md-4">
		<p>Chakra Company Limited has a corporate management philosophy. Estate are managed according to their individual
		need with sound business principle ensuring corporate governance on all levels. Human resources, marketing, operations, strategy, customer orientation, due diligence, communication and service delivery all from part property management operations.
		Each estate has a unique personality, and while Chakra'corporate governance is naver compromised flexibility in management style is facilitated and developed to encompass the personality of each estate
	</div>

	<div class="col-md-4">

	<p>For small fee that deducted from your rent payment per each month, you can have the peace of mind that you have a through,
	trustworthy propert management company working with you to keep your  tenants happy and your investment business runnning smoothly 21/7. Additionally, if you are buying or selling a home. Our team of tenants at Chakra Company Limited has been thoroughly trained to get you the best price for your home as well as making the buying process as seamless and uncomplicated as possible.</p>
	</div>
</div>
</div>
</div>
</section>
{% endblock content %}